.navbar {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navItem {
    position: relative;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #f54ba3;
    border-radius: 999px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.navItem:hover {
  background: rgba(238, 160, 203, 0.89);
  transform: scale(1.05);
}

.navBtn {
    background: #f54ba3;
    color: white;
    border-radius: 999px;
    padding: 10px 18px;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.3 ease, background 0.3s ease 0.1s;
}

.navBtn:hover {
    transform: translateY(-2px);
    background: #db2777;
}